<html>

<head>
    <link
        href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
        rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="styles/newspaper.css"> -->
    <meta name="viewport" content="width=device-width">

</head>

<body>
    <div class="head" id="news_top">
        <div class="headerobjectswrapper">
            <!-- <div class="weatherforcastbox"><span style="font-style: italic;">Developed By: Ankur
                    Sharma</span><br><span></span></div> -->
            <span><a href="/" class="mainHeader">
                    <header>Blazing News</header>
                </a></span>
            <p><span class="headline hl8">Developed By: Ankur Sharma(<a
                        href="https://www.linkedin.com/in/ankur-sharma-341446b1/" target="_blank">Contact Me</a>)</span>
            </p>
        </div>

        <div class="subhead">{{todaysTime | date:'medium'}}</div>
        <div class="subhead"><button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='all'}" (click)="getNews('all')">INTERNATIONAL</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='general'}" (click)="getNews('general')">INDIA</button><button type="button"
                class="btn btn-link" [ngClass]="{'boldButton': source=='business'}" (click)="getNews('business')">BUSINESS</button><button type="button"
                class="btn btn-link" [ngClass]="{'boldButton': source=='entertainment'}" (click)="getNews('entertainment')"><b>ENTERTAINMENT</b></button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='health'}" (click)="getNews('health')">HEALTH</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='science'}" (click)="getNews('science')">SCIENCE</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='technology'}" (click)="getNews('technology')">TECHNOLOGY</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='sport'}" (click)="getNews('sport')">SPORT</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='offbeat'}" (click)="getNews('offbeat')">OFFBEAT</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='positive'}" (click)="getNews('positive')">POSITIVE NEWS</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='negative'}" (click)="getNews('negative')">NEGATIVE NEWS</button>
            <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='facts'}" (click)="getFacts()">INTERESTING</button>
                <!-- <select class="form-select" aria-label="Default select example" (change)="fetchStateNews($event)">
                    <option selected>Select a state</option>
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select> -->
            <!-- <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='quote'}" (click)="getQuote()">RANDOM QUOTE</button> -->
            <!-- <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='joke'}" (click)="getJoke()">RANDOM JOKE</button> -->
            <!-- <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='twitter'}" (click)="getNews('twitter')">TWITTER</button> -->
            <!-- <button type="button" class="btn btn-link" [ngClass]="{'boldButton': source=='reddit'}" (click)="getRedditNews()">INTERESTING</button> -->
        </div>
        <div *ngIf="showKeyNews" class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-3" *ngFor="let key of keyNewsWords">
                    <a class="badge badge-primary" [ngClass]="{'selectedKeyWordClass': selectedKeyWord==key}" (click)="getKeyNews(key)">{{key}}</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div *ngIf="showKeyNews" class="container">
        <button type="button" class="btn btn-light" (click)="refreshNews()">Refresh <b>{{sourcePlaceholder}}</b>
            news</button>
        <div class="row">
            <div class="col-md-3">
                <br />
                <input type="text" class="form-control" placeholder="search for a keyword" [(ngModel)]="searchKey"
                    (keyup)="searchKeyword($event)" />
            </div>
        </div>
    </div>
    <div *ngIf="twitterSelected" class="container">
        <div class="row">
            <div clas="col-md-3">
                <input type="text" class="form-control" placeholder="search for a keyword" [(ngModel)]="searchKey"
                     />
            </div>
            <div class="col-md-3" >
                <button type="button" class="btn btn-primary" (click)="searchTwitter()">Search</button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div align="center" *ngIf="newsSource == null && showKeyNews == true">
            <h3>Loading...</h3>
        </div> 
        <div class="row">
             <!-- <div class="content">
            <div class="collumns"> -->
             
            <div class="col-md-12" *ngFor="let news of newsSource">
                <mat-card style="width:100%; height:100%; box-sizing: border-box;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <!-- <mat-card-header> -->
                                <!-- <mat-card-title>{{news.title}}</mat-card-title>
                                    <mat-card-subtitle>{{news.source}}</mat-card-subtitle> -->
                                <img class="img-fluid img-thumbnail" src="{{news.urlToImage}}"
                                    onerror="this.src='./assets/img/Image_not_available.png'">
                                <!-- </mat-card-header> -->

                            </div>
                            <div class="col-md-9 float-left">
                                <div>
                                    <h5>{{news.title}}</h5>
                                    <span>{{news.source}}|</span>
                                    <span>{{news.publishedAt}}</span>
                                </div>
                                <hr />
                                <p>{{news.description}}</p>
                                <div *ngIf="twitterSelected && news.url != undefined">
                                    <a href="{{news.url}}" target="_blank">Read source...</a>
                                </div>
                                <div *ngIf="!twitterSelected">
                                <a href="{{news.url}}" target="_blank">Read source...</a>
                                <button type="button" class="btn btn-link"
                                    (click)="openDialog(news.title,news.url,news.urlToImage)">"Smart Read"</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <hr/>

                </mat-card>






                <!-- <mat-card>
                        <mat-card-title-group>
                            <span><a href="{{news.url}}" target="_blank"><img mat-card-image class="float-left" style="width: 50%;" src="{{news.urlToImage}}" onerror="this.src='./assets/img/Image_not_available.png'"></a></span>
                        </mat-card-title-group> -->
                <!-- <div><span><a href="{{news.url}}" target="_blank"><img class="media" src="{{news.urlToImage}}"
                            onerror="this.src='./assets/img/Image_not_available.png'"></a></span></div>
            <div class="head"><span class="headline hl6">{{news.title}}</span>
                <p><span class="headline hl8">{{news.source}}</span></p>
                <p><span class="headline hl8">{{news.publishedAt}}</span></p>
                
            </div>
            <p>{{news.description}}</p>
            <a href="{{news.url}}" target="_blank">Read More...</a>
            <hr />
 
            <button type="button" class="btn btn-link"
                (click)="openDialog(news.title,news.url,news.urlToImage)">"Smart Read"</button> -->
                <!-- </mat-card> -->

                <!-- </div>
            </div> -->
            </div>
        </div>
    </div>
    <div *ngIf="showKeyNews == false && showQuote == true" class="container-fluid">
        <div class="row">
            <div align="center">
                <div class="card">
                    <div class="card-header">
                        <h3>Quote</h3>
                    </div>
                    <hr />
                    <div class="card-body">
                        <h4 class="card-text">{{quoteObj.quote}}</h4>
                        <p class="card-title"><i>- {{quoteObj.author}}</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showKeyNews == false && showJoke == true" class="container-fluid">
        <div class="row">
            <div align="center">
                <div class="card">
                    <div class="card-header">
                        <h3>Joke</h3>
                    </div>
                    <hr />
                    <div class="card-body">
                        <h4 class="card-text">{{jokeObj.joke}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showKeyNews == false && showFacts == true && factObj.facts" class="container-fluid">
        <div class="row">
            <div align="center">
                <div class="card">
                    <div class="card-header">
                        <h3>Interesting (Powered by Google Gemini)</h3>
                    </div>
                    <hr />
                    <div class="card-body">
                        <h4 class="card-text">{{factObj.facts}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
