<div class="modal-header">
  <h4>{{data['title']}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img width="100%" src="{{data['imgUrl']}}"
  onerror="this.src='./assets/img/Image_not_available.png'">
  <div *ngIf="loading" align="center">
    <img src="assets/img/loading-58.gif" width="100">
  </div>
  <div *ngFor="let para of content">
    <p><strong><i>{{para}}</i></strong></p>
  </div>
</div>